<nav class="navbar">

  <div class="container">
  
    <%= link_to 'Recipe App', root_path %>
   
    <ul id="linkList">

      <% if user_signed_in? %>
        <li class="navbar-btn">
          <%= link_to 'Recipes', recipes_path %>
        </li>

        <li class="navbar-btn">
          <%= link_to 'Foods', foods_path %>
        </li>

      <% end %>

      <li class="navbar-btn">
        <%= link_to 'Public Recipes', public_recipes_path %>
      </li>
      
    </ul>

    <ul id="linkList">

      <% if user_signed_in? %>
   	
    		<h3><%= "Hello! #{current_user.name}" %></h3>        
    
        <li class="navbar-btn">
          <%= link_to 'Sign out' ,destroy_user_session_path, method: :delete %></li>
		
    	  <li class="navbar-btn">
          <%= link_to 'Edit Profile', edit_user_registration_path %></li>
    
      <% else %>
    
        <li class="navbar-btn">
          <%= link_to 'Sign in', new_user_session_path %></li>
		
    	  <li class="navbar-btn">
          <%= link_to 'Sign up', new_user_registration_path %></li>
    
      <% end %>
    </ul>
      
  </div>

</nav>
