<div id="<%= dom_id food %>" class="food">
<p>
  <%= food.name %>
</p>

  <p class="numItem">
    $ <%= food.price %>
  </p>

  <p class="numItem">
    <%= food.quantity %> <%= food.measurement_unit %>
  </p>

  <%= button_to "Delete food", @food, method: :delete %>
</div>
